
extends layout

block content
 h1 About us
 .aboutus-section
  .container
    .row
      .col-md-3.col-sm-6.col-xs-12
        .aboutus
          h2.aboutus-title About Us
          p.aboutus-text
            | Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.
          p.aboutus-text
            | This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
          a.aboutus-more(href='#') read more
      .col-md-3.col-sm-6.col-xs-12
        .aboutus-banner
          img(src='http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg', alt='')
      .col-md-5.col-sm-6.col-xs-12
        .feature
          .feature-box
            .clearfix
              .iconset
                span.glyphicon.glyphicon-cog.icon
              .feature-content
                h4 Work with heart
                p
                  | Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.
          .feature-box
            .clearfix
              .iconset
                span.glyphicon.glyphicon-cog.icon
              .feature-content
                h4 Reliable services
                p
                  | Donec vitae sapien ut libero venenatis faucibu. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt
          .feature-box
            .clearfix
              .iconset
                span.glyphicon.glyphicon-cog.icon
              .feature-content
                h4 Great support
                p
                  | Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.
